<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Nick's Todo App</title>
    <style>
      #listerror {
        display: none;
      }
      #todoerror {
        display: none;
      }
      ul {
        list-style: none;
        padding: 0;
        margin: 0;
        width: 300px;
      }
      li {
        clear: both;
      }
      button {
        display: inline;
        background:none;
        border:none;
        margin:0;
        margin-left: 5px;
        padding:0;
        cursor: pointer;
        color: red;
        float: right;
        font-size: 20px;
      }
      .lists-wrapper {
        display: inline-block;
        vertical-align: top;
        margin: 5px;
      }
      .todos-wrapper {
        display: inline-block;
        vertical-align: top;
        margin: 5px;
        border: 1px solid black;
        border-radius: 8px;
        padding: 10px;
        background-color: #FBC02D;
      }
      .app-wrapper {
        padding: 10px;
        border: 1px solid black;
        border-radius: 8px;
        width: fit-content;
      }
      .list-input-form {
        margin-top: 60px;
      }
      .selected-list-item {
        font-weight: bold;
      }
    </style>
  </head>
  <body>
    <h1>Nick's Todo App</h1>
    <div class="app-wrapper">
    <div class="lists-wrapper">
      <h2>My todo lists:</h2>
      <form id="list-input-form" class="list-input-form"
            action="/todo/create" method="post">
        <!-- <label for="description">Add your todo here:</label> -->
        <input type="text" id="list-name" name="description">
        <input type="submit" value="Create" />
      </form>
      <div id="listerror" class="hidden">Couldn't save todo!</div>
      <ul id="todolists">
        {% for list in lists %}
        <li>
          <input class="list-check-completed"
                 type="checkbox"
                 {% if list.completed %} checked {% endif %}
                 data-id="{{ list.id }}" />
          {% if active_list.id == list.id %}
            <a href={{ list.id }} class="selected-list-item">> {{ list.name }}</a>
          {% else %}
            <a href={{ list.id }}>{{ list.name }}</a>
          {% endif %}
          <button class="list-button-delete" data-id="{{ list.id }}">
            &cross;
          </button>
        </li>
        {% endfor %}
      </ul>
    </div>
    <div class="todos-wrapper">
      <h2>My todos:</h2>
      {% if active_list %}
        <h3>{{ active_list.name }}</h3>
      {% else %}
        <h3>No list currently selected</h3>
      {% endif %}
      <form id="todo-input-form" class=id="todo-input-form"
            action="/todo/create" method="post">
        <!-- <label for="description">Add your todo here:</label> -->
        <input type="text" id="todo-description" name="description">
        <input type="submit" value="Create" />
      </form>
      <div id="todoerror" class="hidden">Couldn't save todo!</div>
      <ul id="todos">
        {% for todo in todos %}
          <li>
            <input class="todo-check-completed"
                   type="checkbox"
                   {% if todo.completed %} checked {% endif %}
                   data-id="{{ todo.id }}" />
            {{ todo.description }}
            <button class="todo-button-delete" data-id="{{ todo.id }}">
              &cross;
            </button>
          </li>
        {% endfor %}
      </ul>
    </div>
    </div>
    <script>
        const todoDeleteButtons = document.querySelectorAll('.todo-button-delete');
        for (let i = 0; i < todoDeleteButtons.length; i++) {
          const deleteButton = todoDeleteButtons[i];
          deleteButton.onclick = function(e) {
            const todoId = e.target.dataset['id'];
            fetch('/todos/' + todoId, {
              method: 'DELETE'
            }).catch(function() {
              document.getElementById('todoerror').className = '';
            })
          }
        }
        const listDeleteButtons = document.querySelectorAll('.list-button-delete');
        for (let i = 0; i < listDeleteButtons.length; i++) {
          const deleteButton = listDeleteButtons[i];
          deleteButton.onclick = function(e) {
            const listId = e.target.dataset['id'];
            fetch('/lists/' + listId, {
              method: 'DELETE'
            }).catch(function() {
              document.getElementById('listerror').className = '';
            })
          }
        }
       const todoCheckBoxes = document.querySelectorAll('.todo-check-completed');
       for (let i = 0; i < todoCheckBoxes.length; i++) {
         const todoCheckBox = todoCheckBoxes[i];
         todoCheckBox.onchange = function(e) {
           console.log(e);
           const newCompletedState = e.target.checked;
           const todoId = e.target.dataset['id'];
           fetch('/todos/' + todoId + '/set-completed', {
             method: 'POST',
             body: JSON.stringify({
               'completed': newCompletedState
             }),
             headers: {
               'Content-Type': 'application/json'
             }
           })
           .then(response => response.json())
           .then(jsonResponse => {
             console.log('response', jsonResponse);
             document.getElementById('todoerror').className = 'hidden';
           }).catch(function() {
             document.getElementById('todoerror').className = '';
           })
         }
       }
       const listCheckBoxes = document.querySelectorAll('.list-check-completed');
       for (let i = 0; i < listCheckBoxes.length; i++) {
         const listCheckBox = listCheckBoxes[i];
         listCheckBox.onchange = function(e) {
           console.log(e);
           const newCompletedState = e.target.checked;
           const listId = e.target.dataset['id'];
           fetch('/lists/' + listId + '/set-completed', {
             method: 'POST',
             body: JSON.stringify({
               'completed': newCompletedState
             }),
             headers: {
               'Content-Type': 'application/json'
             }
           })
           .then(response => response.json())
           .then(jsonResponse => {
             console.log('response', jsonResponse);
             document.getElementById('listerror').className = 'hidden';
           }).catch(function() {
             document.getElementById('listerror').className = '';
           })
         }
       }
       const descInput = document.getElementById('todo-description');
       document.getElementById('todo-input-form').onsubmit = function(e) {
         e.preventDefault();
         const desc = descInput.value;
         descInput.value = '';
         fetch('/todos/create', {
           method: 'POST',
           body: JSON.stringify({
             'description': desc,
             'list_id': {{ active_list.id }}
           }),
           headers: {
             'Content-Type': 'application/json',
           }
         })
         .then(response => response.json())
         .then(jsonResponse => {
           console.log('response', jsonResponse);
           li = document.createElement('li');
           li.innerText = desc;
           document.getElementById('todos').appendChild(li);
           document.getElementById('todoerror').className = 'hidden';
         })
         .catch(function() {
           document.getElementById('todoerror').className = '';
         })
       }
       const nameInput = document.getElementById('list-name');
       document.getElementById('list-input-form').onsubmit = function(e) {
         e.preventDefault();
         const name = nameInput.value;
         nameInput.value = '';
         fetch('/lists/create', {
           method: 'POST',
           body: JSON.stringify({
             'name': name
           }),
           headers: {
             'Content-Type': 'application/json',
           }
         })
         .then(response => response.json())
         .then(jsonResponse => {
           console.log('response', jsonResponse);
           li = document.createElement('li');
           li.innerText = name;
           document.getElementById('todolists').appendChild(li);
           document.getElementById('listerror').className = 'hidden';
         })
         .catch(function() {
           document.getElementById('listerror').className = '';
         })
       }
       document.getElementById('listerror').className = 'hidden';
     </script>
  </body>
</html>
