# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Flask stuff:
instance/
.webassets-cache

# Pyre type checker
.pyre/

# pytype static type analyzer
.pytype/

# Dependency directories
node_modules/
jspm_packages/
